<section id="footer">
    <ul class="icons">
        <li><a href="https://discord.gg/ddhGacy" class="icon brands fa-discord" target="_BLANK"><span
                    class="label">Discord</span></a>
        </li>
        <li><a href="https://twitter.com/erfg12" class="icon brands fa-twitter" target="_BLANK"><span
                    class="label">Twitter</span></a>
        </li>
        <li><a href="https://fb.me/NewAgeProgrammer" class="icon brands fa-facebook-f" target="_BLANK"><span
                    class="label">Facebook</span></a></li>
        <li><a href="https://instagram.com/erfg1234" class="icon brands fa-instagram" target="_BLANK"><span
                    class="label">Instagram</span></a></li>
        <li><a href="mailto:jake@newagesoftware.net" class="icon solid fa-envelope" target="_BLANK"><span
                    class="label">Email</span></a>
        </li>
    </ul>
</section>