<!-- Search -->
<section>
    <form class="search" method="get" action="../search">
        <input type="text" name="q" placeholder="Search" />
    </form>
</section>

<!-- Links -->
<section>
    <ul class="links">
        <li>
            <a href="{{ site.baseurl }}">
                <h3>Home</h3>
                <p>Latest Posts</p>
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/tutorials">
                <h3>Tutorials</h3>
                <p>Guides You Can Follow</p>
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/hacks">
                <h3>Hacks</h3>
                <p>Hacking Software</p>
            </a>
        </li>
    </ul>
</section>