<meta charset="utf-8" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
/>

<link rel="manifest" href="/manifest.json" />

<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180.png" />
<link rel="apple-touch-icon" sizes="167x167" href="images/apple-icon-167.png" />
<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152.png" />
<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120.png" />

<meta name="apple-mobile-web-app-capable" content="yes" />

<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-2048-2732.png"
	media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-2732-2048.png"
	media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-1668-2388.png"
	media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-2388-1668.png"
	media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-1668-2224.png"
	media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-2224-1668.png"
	media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-1536-2048.png"
	media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-2048-1536.png"
	media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-1242-2688.png"
	media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-2688-1242.png"
	media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-1125-2436.png"
	media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-2436-1125.png"
	media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-828-1792.png"
	media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-1792-828.png"
	media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-1242-2208.png"
	media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-2208-1242.png"
	media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-750-1334.png"
	media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-1334-750.png"
	media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-640-1136.png"
	media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
/>
<link
	rel="apple-touch-startup-image"
	href="images/apple-splash-1136-640.png"
	media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
/>

<meta http-equiv="last-modified" content="Sun, 25 Feb 2019 14:00:46 GMT " />
<meta http-equiv="cache-control" content="Private" />
<meta http-equiv="Expires" content="600" />

{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<meta name="author" content="{{ site.name }}" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}
