<!DOCTYPE HTML>
<html>

	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{
			site.description }}</title>

		{% include meta.html %} {% include advertisements.html %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<script src="../assets/js/jquery.min.js"></script>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<h1><a href="{{ site.baseurl }}/">New Age Soldier</a></h1>
				<nav class="links">
					<ul>
						<li><a href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
						<li><a href="{{ site.baseurl }}/hacks">Hacks</a></li>
					</ul>
				</nav>
				<nav class="main">
					<ul>
						<li class="search">
							<a class="fa-search" href="#search">Search</a>
							<form id="search" method="get" action="../search">
								<input type="text" name="q" placeholder="Search" />
							</form>
						</li>
						<li class="menu">
							<a class="fa-bars" href="#menu">Menu</a>
						</li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<section id="menu">

				{% include menu.html %}

			</section>

			<!-- Main -->
			<div id="main">

				{{ content }}

			</div>

			<!-- Sidebar -->
			<section id="sidebar">

				<!-- Intro -->
				<section id="intro">
					<a href="../" class="logo"><img src="../images/logo.svg" alt="" /></a>
					<header>
						<h2>New Age Soldier</h2>
						<p>A New Age of Technology</p>
					</header>
				</section>

				<!-- Mini Posts -->
				<section>
					<div class="mini-posts">

						{% include widget_latest.html %}

					</div>
				</section>

				<!-- Footer -->
				{% include footer.html %}

			</section>

		</div>

		<!-- Scripts -->
		<script src="../assets/js/browser.min.js"></script>
		<script src="../assets/js/breakpoints.min.js"></script>
		<script src="../assets/js/util.js"></script>
		<script src="../assets/js/main.js"></script>

		<script>
			if ("serviceWorker" in navigator) {
				window.addEventListener("load", () => {
					navigator.serviceWorker.register("/pwabuilder-sw.js").then((reg) => {
						console.log("Service worker registered.", reg);
					});
				});
			}
		</script>
		{% include analytics.html %}
	</body>

</html>