<!DOCTYPE HTML>
<html>

	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{
			site.description }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
	</head>

	<body class="single is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<h1><a href="../">New Age Soldier</a></h1>
				<nav class="links">
					<ul>
						<li><a href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
						<li><a href="{{ site.baseurl }}/hacks">Hacks</a></li>
					</ul>
				</nav>
				<nav class="main">
					<ul>
						<li class="search">
							<a class="fa-search" href="#search">Search</a>
							<form id="search" method="get" action="../search">
								<input type="text" name="q" placeholder="Search" />
							</form>
						</li>
						<li class="menu">
							<a class="fa-bars" href="#menu">Menu</a>
						</li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
			<section id="menu">

				{% include menu.html %}

			</section>

			<!-- Main -->
			<div id="main">
				<div style="width:100%;clear:both">
					<a href="#" onclick="window.history.go(-1)" title="Go Back">
						<div class="emoji_nav_btn">
							👈 </div>
					</a>
					<a href="#" onclick="location.reload()" title="Reload Page">
						<div class="emoji_nav_btn">
							🌀 </div>
					</a>
				</div>

				<!-- Post -->
				<article class="post">
					<header>
						<div class="title">
							<h2>{{ page.title }}</h2>
						</div>
						<div class="meta">
							<time class="published"
								datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time>
							<a class="author"><span class="name">Jake</span><img
									src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></a>
						</div>
					</header>
					<span class="image featured"><img src="{{ site.baseurl }}/images/banners/{{ page.banner }}"
							alt="Post Banner Image" /></span>
					<p>{{ content }}</p>
					<footer>
						<ul class="stats">
							<li><a href="{{ site.baseurl }}/{{ page.categories }}">{{ page.categories }}</a>
							</li>
						</ul>
					</footer>
				</article>

				<a href="https://discord.gg/ddhGacy" target="_BLANK">Let's Discuss this on Discord!</a>

			</div>

			<!-- Footer -->
			{% include footer.html %}

		</div>

		<!-- Scripts -->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/util.js"></script>
		<script src="{{ site.baseurl }}/assets/js/main.js"></script>
		{% include analytics.html %}
	</body>

</html>